@model AdminsWorkSystem.Modelos.Formatos
@using AdminsWorkSystem.Utilidades
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Subir Nuevo Formato";
    var tituloDos = "Visualizar Formato";
}

<form method="post" enctype="multipart/form-data">
    <div class="row p-3 border-0">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
    @if (Model.Id != 0)
    {
        // Actualizar
        titulo = "Actualizar Formatos";
        //<input type="hidden" asp-for="Formatos.Id" />
    }
     @if (User.IsInRole(DS.Role_Admin) || User.IsInRole(DS.Role_ResponsableU))
    {
    <div class="col-12 border-bottom">
        <h2 class="text-primary">@titulo</h2>
    </div>
    
    <div class="row">
        <div class="col-8 pt-4">

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Nombre"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Nombre" onkeyup="mayus(this);" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>                      
                                 
            <div class="form-group row">
                <div class="col-4">
                    Archivo
                </div>
                <div class="col-8">
                        <input type="file" accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"   name="files" id="imagedoc" multiple class="form-control" />
                </div>
            </div>
            
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Id != 0)
                    {
                        <partial name="_BotonesActualizarYRegresar" model="Model.Id" />
                    }
                    else
                    {
                        <div class="row">
                            <div class="col">
                                <button type="submit" onclick="return validarEntrada()" class="btn btn-primary form-control">Crear</button>
                            </div>
                            <div class="col">
                                <a asp-action="Index" class="btn btn-success form-control">Regresar</a>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
      
    </div>
    }
    
    
        @if (Model.Id != 0)
        {
            <div class="form-control center">
            <div class="col-12 border-bottom">
                <h2 class="text-primary">@tituloDos</h2>
            </div>
            <div class="col-4 border-0">
                <img src="~/imagenes/word.png" style="width:100%; border-radius:5px; border:1px solid #bbb9b9" />
            </div>
            <a class="btn btn-lg btn-primary" src="@Model.FormatosUrl" href="@Model.FormatosUrl">Descarga Archivo</a>
        </div>
        }
    

</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />


    @*<script>
        function validarEntrada() {
            if (document.getElementById("escogerImg").value == "") {
                swal("Error", "Seleccione una Imagen", "error");
                return false;
            }
            return true;
        }
    </script>*@

    <script>
        function validarEntrada() {
            if (document.getElementById("imagedoc").value == "") {
                swal("Error", "Seleccione Formato", "error");
                return false;
            }
            return true;
        }

    </script>
   @* valida si archivo seleccionado tipo pdf*@
   @* <script type="text/javascript">
        (function () {
            function validarEntrada(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#imagedoc').html("<img src='" + e.target.result + "' />");
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $('#imagedoc').change(function (el) {
                if (LimitAttach(this, 1))
                    validarEntrada(this);
            });
        })();
    </script>
    <script type="text/javascript">
        function LimitAttach(tField, iType) {
            file = tField.value;
            if (iType == 1) {
                extArray = new Array(".pdf");
            }
            allowSubmit = false;
            if (!file) return false;
            while (file.indexOf("\\") != -1) file = file.slice(file.indexOf("\\") + 1);
            ext = file.slice(file.indexOf(".")).toLowerCase();
            for (var i = 0; i < extArray.length; i++) {
                if (extArray[i] == ext) {
                    allowSubmit = true;
                    break;
                }
            }
            if (allowSubmit) {
                return true
            } else {
                tField.value = "";
                swal("Error", "Seleccione un Formato tipo PDF", "error" + (extArray.join(" ")) + "\n Reiniciando Formulario");
                return false;
                setTimeout("location.reload()", 2000);
            }
        }
    </script>*@
       
}







