
<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Procesada Correctamente</h1><br />
        <img src="~/imagenes/Confirmacion.gif" width="30%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Gracias Por tu Tiempo! <br />
        Hemos recibido tu Evidencia 
        <br />

        <div class="text-center">
            <a asp-area="Principal" asp-controller="Home" asp-action="Index" class="btn btn-success">Salir</a>
           @* <a asp-action="ImprimirOrden" class="btn btn-warning" asp-route-id="@Model" target="_blank">
                <i class="fas fa-print"></i> Imprimir
            </a>*@
        </div>

    </div>

</div>


