@{
    ViewData["Title"] = "Home Page";
}

@*<div id="slider">
    <input type="radio" name="slider" id="slide1" checked>
    <input type="radio" name="slider" id="slide2">
    <input type="radio" name="slider" id="slide3">
    <input type="radio" name="slider" id="slide4">
    <div id="slides">
        <div id="overflow">
            <div class="inner">
                <div class="slide slide_1">
                    <div class="slide-content">
                        <h2 class="text-light">Bienvenido</h2>
                        <img src="~/imagenes/logo.png" alt="UAIM" style="width:30%">
                    </div>
                </div>
                <div class="slide slide_2">
                    <div class="slide-content">
                        <h3 class="text-light">Trabajo Solidario</h3>
                        <img src="~/imagenes/ImagenTS .png" alt="UAIM" style="width:50%">
                        <br />
                    </div>
                </div>
                <div class="slide slide_3">
                    <div class="slide-content">
                    </div>
                </div>
                <div class="slide slide_4">
                    <div class="slide-content">
                        <h2>Slide 4</h2>
                        <p>Content for Slide 4</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="controls">
        <label for="slide1"></label>
        <label for="slide2"></label>
        <label for="slide3"></label>
        <label for="slide4"></label>
    </div>
    <div id="bullets">
        <label for="slide1"></label>
        <label for="slide2"></label>
        <label for="slide3"></label>
        <label for="slide4"></label>
    </div>
</div>*@
<br />
<div class="row">
    <div class="col-sm-4">
        <img src="~/imagenes/logo.png"float-start" alt="Paris" width="220" height="236">
    </div>
    <div class="col-sm-4">
        
    </div>
    <div class="col-sm-4">
        <img src="~/imagenes/ImagenTS .png" class="float-start" alt="Paris" width="304" height="236">

    </div>
</div>
<br/>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4">
            <h3>¿Qué es el Trabajo Solidario?</h3>
            <p>
                El Trabajo Solidario es una acción de voluntad al servicio de la
                comunidad en general, que permite desarrollar valores
                humanos y competencias establecidas en las asignaturas,
                posibilita adquirir experiencia de trabajo en comunidad.
            </p>
            <p>
                Es una
                estrategia de arraigo comunitario y como antecedente al
                Servicio Social, representa una propuesta en la materia de
                prácticas educativas.
            </p>
        </div>
        <div class="col-sm-4">
            <h3>¿Cuál es el objetivo de realizar el Trabajo Solidario?</h3>
            <p>
                Tiene como objetivo, fortalecer la construcción de procesos de
                organización, formación y participación comunitaria
                sostenible y solidaria, que fortalezcan los conocimientos
                teóricos, mismos que al ser aplicados a casos de la realidad
                cotidiana se logren las competencias de las asignaturas.
            </p>
        </div>
        <div class="col-sm-4">
            <h3>
                ¿De qué subprogramas se compone el Trabajo
                Solidario?
            </h3>
            <p>
                Se compone de ocho subprogramas básicos: Ecológico,
                Producción, Salud, Promoción de Conciencia, Apoyo
                Administrativo, Seguridad y Vialidad, Artístico Cultural y Altruismo.
                También se incluyen los subprograma disciplinares que
                desarrolla cada programa educativo aprobados por el
                responsable institucional del Trabajo Solidario.
            </p>
            <p>
                El T.S., es
                rotativo en los diferentes subprogramas y actividades, de tal
                forma que se cumpla el objetivo de una formación integral.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>
                ¿Cuándo y en qué tiempo puedo iniciar el Trabajo
                Solidario?
            </h3>
            <p>
                El Trabajo Solidario se desarrolla de manera transversal del
                primero al sexto semestre en todos los Programas Educativos.
                Todo estudiante deberá incorporarse a un subprograma o
                proyectos de trabajo solidario, en beneficio de la comunidad.
            </p>
            <p>
                Se deben cubrir 25 horas de T.S. cada semestre, o bien el tiempo
                necesario para cubrir el objetivo del proyecto comunitario
                asignado. En total se deben acumular 150 horas para su
                liberación con un valor de tres créditos.
            <p />
        </div>
        <div class="col-sm-4">
            <h3>¿Quién me puede informar del Trabajo Solidario?</h3>
            <p>
                Es necesario acudir al inicio del semestre con responsable del
                P.E. y con el Tutor, para recibir información sobre la forma y
                modalidades de participación y cumplimiento del T.S.
            </p>
        </div>
    </div>
    <br/>
    <br />
    <div class="row">
        <div class="col-sm-4">
            <h2 class="text-primary">En Facebook</h2>
            <p>Siganos! en la pagína oficial</p>
            <div class="card" style="width:400px">
                <img class="card-img-top" src="~/imagenes/Facebook.PNG" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Facebook</h4>
                    <p class="card-text">Redes Sociales</p>
                    <a href="https://www.facebook.com/uaimmx" class="btn btn-primary">Visitar</a>
                </div>
            </div>
            <br>
        </div>
        <div class="col-sm-4">
            <h2 class="text-primary">En Facebook</h2>
            <p>Uaim, Desarrollo Estudiantil</p>
            <div class="card" style="width:400px">
                <img class="card-img-top" src="~/imagenes/Ddbe.png" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Facebook</h4>
                    <p class="card-text">Redes Sociales</p>
                    <a href="https://www.facebook.com/DDyBE.UAIM" class="btn btn-primary">Visitar</a>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
